/README
/inst/doc/Makefile
/inst/doc/fdist/INTFILE_orig
/inst/doc/fdist/README_fdist2
/inst/doc/fdist/amova-functions.R
/inst/doc/fdist/c-landscape.R
/inst/doc/fdist/data_fst_outfile
/inst/doc/fdist/datacal.patch
/inst/doc/fdist/fdist.R
/inst/doc/fdist/fdist.patch
/inst/doc/fdist/fdist_params2.dat
/inst/doc/fdist/fdist_params2.dat.dist
/inst/doc/fdist/figure2.eps
/inst/doc/fdist/generatelocations.R
/inst/doc/fdist/infile
/inst/doc/fdist/intfile
/inst/doc/fdist/iufro.R
/inst/doc/fdist/logfile
/inst/doc/fdist/pdist.dat
/inst/doc/fdist/phi-st.pdf
/inst/doc/fdist/phist.rda
/inst/doc/fdist/plot-results.R
/inst/doc/fdist/pvalue.out
/inst/doc/fdist/pvalue2.out
/inst/doc/fdist/simulate-fdist-spatial.R
/inst/doc/fdist/simulate-fdist-spatial.R.old
/inst/doc/fdist/tail1-immrate.eps
/inst/doc/fdist/tail2-box.eps
/inst/doc/fdist/tail2-immrate.eps
/inst/doc/fdist/test-disp.R
/inst/doc/fdist/testout.dat
/inst/doc/fdist/typeI-final.rda
/inst/doc/fdist/typeI-final1.rda
/inst/doc/fdist/typeI-final2.rda
/inst/doc/fdist/typeI-final3.rda
/inst/doc/fdist/typeI-orig.rda
/inst/doc/fdist/typeI.1.rda
/inst/doc/fdist/typeI.2.rda
/inst/doc/fdist/typeI.rda
/inst/doc/index.html
/src/AlleleObj.o
/src/AlleleTbl.o
/src/BaseObj.o
/src/Democlass_space.o
/src/FastAllele.o
/src/Genotype.o
/src/Landscape_space..h.old
/src/Landscape_space.cc.mod
/src/Landscape_space.cc.old
/src/Landscape_space.cc.orig
/src/Landscape_space.o
/src/PackedIndividual_space.o
/src/RandLib.cc.orig
/src/TransMat.cc.orig
/src/kernelPop.cc.orig
/src/RandLib.o
/src/SiteObj.o
/src/TransMat.o
/src/kernelPop.o
/src/kernelPop2.so
